<p>
  This is an example site. As you can see, this is a "proper" website with CSS
  and HTML.
</p>

<p>
  <a href="//gitlab.com/yuki_is_bored/ms">ms(1)</a> works by treating each
  folder as if they're a file. It does that by appending each files that are
  inside that folder into a single file.
</p>

<h2>Example</h2>

<p>
  The following is an example directory structure of a working directory.
</p>

<ul>
  <li>src/.common/zz-footer.html</li>
  <li>src/index.html/00-header.html</li>
  <li>src/index.html/10-content.html</li>
  <li>src/index.html/zz-footer.html
    (soft-link to ../.common/zz-footer.html)</li>
  <li>src/static/example.css</li>
</ul>

<p>
  <a href="//gitlab.com/yuki_is_bored/ms">ms(1)</a> will do the following:
</p>

<ul>
  <li>Go to each folder inside the <b>source</b> directory</li>
  <li>Get a list of files</li>
  <li>Sort the list with <u>sort(1)</u></li>
  <li>Append each file into a file with the same name as the folder name into
    the <b>target</b> directory</li>
  <li>and repeat until every directory and files are processed!</li>
</ul>

<p>
  Of course the <u>static</u> folder will be ignored and will be just copied
  over to the <b>target</b> directory.
</p>

<p>
  While folders with a name that starts with a period (like <u>.common</u>) will
  be ignored.
</p>

<p>
  Here is the result of the example above.
</p>

<ul>
  <li>src/.common/zz-footer.html</li>
  <li>src/index.html/00-header.html</li>
  <li>src/index.html/10-content.html</li>
  <li>src/index.html/zz-footer.html
    (soft-link to ../.common/zz-footer.html)</li>
  <li>src/static/example.css</li>
  <li>out/index.html</li>
  <li>out/static/example.css</li>
</ul>

<p>
  Simple, isn't it?
</p>
